.data{
    background: #fff;
    position: absolute;
    top: 54%;
    left: 50%;
    width: 329px;
    height: 483px;
    margin: 0 -50% 0 0;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    z-index: 10000;
    overflow-y: auto;
    
}

.container-data{
    
}

.data-item {
    margin-top: 10px;
    background: #efefef;
    font-size: 22px;
}
.data-item:hover{
    cursor: pointer;
    opacity: 0.5;
    color: darkblue;
}