.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    display: block;
    background: rgba(0, 0, 0, 0.6);
}

.container-details{
    background: #fff;
    position: absolute;
    top: 54%;
    left: 50%;
    width: 329px;
    height: 483px;
    margin: 0 -50% 0 0;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    z-index: 10000;
    overflow-y: auto;
}

.container-promote-transaction,.container-reattach-transaction {
    margin-top: 3%;
}

.detail-hash{
    font-size: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}
.detail-value{
    font-weight: bold;
    font-size: 12px;
    text-align: right;
    color: darkblue;
}

.detail-bundle-value{
    text-overflow: ellipsis;
    overflow: hidden;
}

.container-list-details {
    margin-top: 5%;
}

.container-details-title {
    font-size: 30px;
    margin-bottom: 6%;
    color: darkblue;
}

.details-list{
    height: 209px;
    overflow: overlay;
}

.btn-promote-transaction , .btn-reattach-transaction {
    width: 100%;
    color: white;
    background: darkblue;
    font-weight: bold;
}

.btn-close-details {
    margin-top: 5px;
}

.container-promote-transaction-suggestion {
    margin-top: 3%;
}

.text-promote-transaction-suggestion {
    font-size: 11px;
    color: darkblue;
}
