.settings {
    margin-bottom: 70px;
}


input {
    width: 100%;
    margin-top: 3%
}

.container-send{
    margin-top:5%;
}

.btn-transfer{
    background: darkblue;
    width: 101px;
    height: 38px;
    margin-top: 5%;
}
.icon{
    color: white;
}




.container-error{
    margin-top: 26%;
}

.btn-transfer{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid lightskyblue;
    background: darkblue;
    margin-top:14%;
}