.container-center{
    margin: 0;
    background : #f6f6f6;
    width: 300px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.input-psw {
    margin-top: 10px;
    width: 100% !important;
}

.btn-name{
    margin-bottom: 5%;
}
.input-name{
    margin-top: 5%;
}

.btn-password{
    margin-bottom : 5%;
}

.btn-generate-seed{
    margin-top: 5%;
    margin-bottom: 5%;
}
.btn-create-wallet{
    margin-top: 5%;
    margin-bottom: 5%;
}
.btn-create-wallet{
    margin-bottom: 5%;
}
.label-seed{
    margin-top: 5%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    font-size: 12px;
    max-width: 30ch;
}