
.container-receive{
    margin: 0;
    background : #fff;
    position: absolute;
    top: 54%;
    left: 50%;
    width: 100%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.label-address{
    margin-top: 5%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    font-size: 15px;
    max-width: 100%;
}

