
.container-address{
}

.container-qr-code{
    margin-top:40%;
}

.label-address{
    margin-top: 5%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    font-size: 15px;
    max-width: 30ch;
}

