.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    display: block;
    background: rgba(0,0,0,.6);
}

.container-edit{
    background: white;
    border-radius: 7px;
    width: 300px;
    height: 175px;
    top: 50%;
    left: 50%;
    transform: (50%,-50%);
    z-index: 10000000;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}


.btn-update{
    background: #00008b;
    margin-top: 22%;
    color: #fff;
    border-radius: 6px;
    text-align: center;
}
.btn-delete{
    background: red;
    margin-top: 22%;
    color: #fff;
    border-radius: 6px;
    text-align: center;
}