.settings {
    margin-bottom: 70px;
}



.container-send{
    position: absolute;
    top: 54%;
    left: 50%;
    width: 100%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}



.btn-transfer{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-top:14%;
    border: 2px solid darkblue;
    background: white;
    color: darkblue;
}
.btn-transfer:hover{
    background: darkblue;
    color: white;
}

.text-transfer {
    font-size: 16px;
    font-weight: bold;
    color: darkblue;
}
