.data{
    background: #fff;
    position: absolute;
    top: 54%;
    left: 50%;
    width: 329px;
    height: 483px;
    margin: 0 -50% 0 0;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    border-radius: 5px;
    z-index: 10000;
}

.data-list{
    overflow-y: auto;
    overflow-x: hidden;
    height: 435px;
    margin-top: 10px;
    padding-top: 15px;
}

.channel-name {
    font-size: 22px;
    color: darkblue;
    font-weight: bold;
}
.channel-description{
    font-size: 12px;
}  
.channel-info{
    font-size: 12px;
    color: #7a7a7a;
}

.container-data {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border-radius: 5px;
    margin-bottom: 20px;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 2px;
}


.container-data:hover {
    transform: scale(1.03);
    cursor: pointer;
}

.data-value{
    font-size: 45px;
    color: darkblue;
    margin-top: 20px;
    margin-bottom: 20px;
}
.data-timestamp{
    margin-top: 52px;
    font-size: 14px;
}

.btn-show-data{
    background: transparent;
    border: 0;
}