

.transactions-header{
    background: white;
}

.transactions-name{
    font-size: 17px;
    color : #adadad;
}

.transaction-list {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
    height: 200px;
    margin-top: -13px;
    padding-right: 10px;
    padding-left: 10px;
}

.transaction-list-item {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    box-sizing: border-box;
    background: white;
    margin-top: 7px;
    margin-bottom: 7px;
    cursor: pointer;
    padding: 13px 10px 13px 10px;
}
.transaction-list-item:hover {
    transform: scale(1.05);
}

.transaction-list-item-action, .transaction-list-item-value {
    background: inherit;
    font-size: 16px;
    font-weight: bold;
}


.transaction-list-item-date {
    font-size: .75rem;
}

.transaction-date {
    color: darkblue;
    font-size: 16px;
}

.transaction-list-item-status-confirmed {
    font-size: 16px;
    color: darkblue;
    font-weight: bold;
}
.transaction-list-item-status-not-confirmed {
    font-size: 16px;
    color: gray;
    font-weight: bold;
}

.container-no-transactions{
    position: relative;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.text-no-transactions{
    font-size: 14px;
}

hr {
    margin-top: 0rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.btn-reload {
    background: white;
    color: darkblue;
    padding: 0px;
}

