.container-restore-account{
    margin-top:40%;
}


.btn-restore-account{
    background: darkblue;
    color: white;
    margin-top:14%;
    width: 100%;
}
.icon{
    color: white;
}
.btn-login-back{
    background: white;
    color: darkblue;
    text-decoration: underline;
    border: none;
    outline: none;
    margin-top: 3%;
}
.btn-login-back:hover{
    background: white;
    color: lightblue;
    text-decoration: underline;
}