.container-settings {
    margin-top: 17%;
    background: darkblue;
}

.info {
    margin-bottom: 30px;
}

.transactions{
    font-size: 8px;
}

.align-center{
    text-align: center;
}

.btn-send{
    width: 120px;
}

.btn-receive{
    width: 120px;
}

.btn-settings, .btn-marker {
    background-color: darkblue; 
    border: none; 
    color: white; 
    padding: 0px 0px;
    font-size: 30px; 
    cursor: pointer; 
    z-index: 2;
}

