

.container-info {
    margin-top: 20%;
    margin-bottom: 30px;
}

.container-transactions{
    font-size: 8px;
}

.align-center{
    text-align: center;
}

.btn-send,.btn-receive{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid lightskyblue;
    background: darkblue;
}

/*.btn-send:hover , .btn-receive:hover{ 
    height: 60px;
    width: 60px;
}*/

.icon{
    color: white;
}


