

.container-logo-login{
    text-align: center;
    margin-top: 7%;
    background: white;
    position: relative;
}
.title-login{
    margin-top: 3%;
    margin-bottom: 3%;
    color: #00008b;
    font-size: 29px;
}

.input-psw {
    margin-top: 10px;
    width: 100% !important;
}


.btn-password{
    margin-bottom: 9%;
    margin-top: 20%;
    background: #00008b;
    color: #fff;
    width: 100%;
}

.btn-restore{
    background: white;
    color: darkblue;
    text-decoration: underline;
    border: none;
    outline: none;
}
.btn-restore:hover{
    background: white;
    color: lightblue;
    text-decoration: underline;
}
