.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    display: block;
    background: rgba(0,0,0,.6);

}

.display-block {
    display: block;
}

.display-none {
    display: none;
}

#sidebar-wrapper {
  margin-left: -250px;
  left: 250px;
  width: 250px;
  background: white;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}

#wrapper.active {
  padding-left: 0;
}

#wrapper.active #sidebar-wrapper {
  left: 0;
}

#page-content-wrapper {
  width: 100%;
}
  
  
.sidebar-nav {
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 4px;
  width: 100%;
}
  
.sidebar-nav li a {
  display: block;
  text-decoration: none;
  padding-left: 28px;
}

.sidebar-nav li a span:before {
  position: absolute;
  left: 0;
  color: #41484c;
  text-align: center;
  width: 20px;
  line-height: 18px;
}

.sidebar-nav li a:hover,
.sidebar-nav li.active {
  color: #fff;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  /*line-height: 60px;*/
  font-size: 17px;
}
.sidebar-nav > .sidebar-brand-add-account a{
  /*line-height: 60px;*/
  color: black;
  font-size: 18px;
}
.sidebar-nav > .sidebar-brand-logout a{
  /*line-height: 60px;*/
  color: black;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: black;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: darkblue;
  background: none;
}
.sidebar-nav > .sidebar-brand-add-account a:hover {
  color: darkblue;
  background: none;
}
.sidebar-nav > .sidebar-brand-logout a:hover {
  color: darkblue;
  background: none;
}

.container-sidebar-header{
  margin-bottom: 20%;
}
.sidebar-header{
  color: black;
  text-align: center;
  font-size: 25px;
  margin-bottom: 20%;
  margin-left: -4px;
}

.container-close{
  text-indent: 10px;
}

hr {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.current-account , .current-balance{
    margin-top:5%;
}