

.container-info {
    margin-top: 10%;
    margin-bottom: 30px;
}

.container-transactions{
    font-size: 17px;
    margin-left: 2px;
    margin-right: 2px;
}
.container-balance{
    margin-top: 2%;
    font-size: 36px;
}

.align-center{
    text-align: center;
}

.btn-send,.btn-receive{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid darkblue;
    background: white;
    color: darkblue;
}
.btn-send:hover,.btn-receive:hover{
    background: darkblue;
    color: white;
}

.text-send,.text-receive {
    font-size: 16px;
    font-weight: bold;
    color: darkblue;
}


.btn-back {
    background-color: transparent; 
    border: none; 
    color: white; 
    padding: 0px 0px;
    font-size: 30px; 
    cursor: pointer; 
}