header {
    margin-top: 10px;
}

.container-bar {
    margin-top: 10px;
    background: darkblue;
}

.btn-settings, .btn-marker, .btn-add {
    background-color: darkblue; 
    border: none; 
    color: white; 
    padding: 0px 0px;
    font-size: 30px; 
    cursor: pointer; 
    z-index: 2;
}

.account-name{
    background: transparent;
    color: white;
    font-size: 28px;
}