.container-login{
}
.container-center-login{
    margin: 0;
    background : #f6f6f6;
    width: 300px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -27%)
}
.container-restore-login{
    margin-top: 73%;
}

.container-logo-login{
    text-align: center;
    margin-top: 22%;
    background: white;
}
.container-title-login{
    text-align: center;
    margin-top: 1%;
    color: #00008b;
    font-size: 29px;
}

.input-psw {
    margin-top: 10px;
    width: 100% !important;
}


.btn-password{
    margin-bottom: 9%;
    margin-top: 20%;
    background: #00008b;
    color: #fff;
    width: 100%;
}

.btn-restore{
    background: white;
    color: darkblue;
    text-decoration: underline;
    border: none;
    outline: none;
}
.btn-restore:hover{
    background: white;
    color: lightblue;
    text-decoration: underline;
}
