
header{
    background: #efefefba;
}
.container-header-logo{
    margin-left: 2%;
}

.container-selection{
    border: 2px solid darkblue;
    border-radius: 12px;
    margin-top: 7px;
}

.network-selection{
    background: white;
    width: 160px;
    display: flex;
    flex-direction: row;
}


.container-icon-check{
    position: absolute;
}

.container-hidden-network{
    background: rgba(0,0,0,.8);
    width: 98%;
    min-height: 355px;
    overflow-y: hidden;
    position: absolute;
    z-index: 1000;
    /* margin-top: 1%; */
    border-radius: 7px;
}
.container-hidden-network-header{
    color: white;
    font-size: 28px;
    text-align: center;
    margin-top: 2%;
}
.container-hidden-network-body{
    color: white;
    padding-left: 5px;
}

.container-hidden-network-item{
    margin-top: 4%;
    font-size: 21px;
    display: flex;
}
.container-hidden-network-item:hover{
    background: #f6f6f63f;
    cursor: pointer;
}
.container-hidden-network-item-name-selected{
    color:white;
    margin-left: 13%;
}
.container-hidden-network-item-name-not-selected{
    color:gray;
    margin-left: 13%;
}
