.container-header{
    width: 100%;
    height: 20%;
    background: #efefef;
    height: 10%;
    position: absolute;
}

.container-header-logo{
    margin-top: 3%;
    margin-left: 2%;
}

.container-selection{
    margin: 0;
    margin-left: 28%;
    width: 250px;
    margin-top: -9%;
    border: 2px solid darkblue;
    border-radius: 12px;
    display: flex;
}

.network-selection{
    background: white;
    width: 160px;
    display: flex;
    flex-direction: row;
}

.selected-network{
    margin-left: -7%;
    text-align: center;
    width: inherit;
}
.btn-show-hidden-network {
    margin-left: 63%;
    position: fixed;
}

.container-signal-icon {
    margin-left: 3%;
}
.container-icon-check{
    position: absolute;
}

.container-hidden-network{
    background: rgba(0,0,0,.8);
    width: 261px;
    min-height: 355px;
    margin-left: 25%;
    overflow-y: hidden;
    position: absolute;
    z-index: 1000;
    margin-top: 1%;
    border-radius: 7px;
}
.container-hidden-network-header{
    color: white;
    font-size: 28px;
    text-align: center;
    margin-top: 2%;
}
.container-hidden-network-body{
    color: white;
    padding-left: 5px;
}

.container-hidden-network-item{
    margin-top: 4%;
    font-size: 21px;
    display: flex;
}
.container-hidden-network-item:hover{
    background: #f6f6f63f;
    cursor: pointer;
}
.container-hidden-network-item-name-selected{
    color:white;
    margin-left: 13%;
}
.container-hidden-network-item-name-not-selected{
    color:gray;
    margin-left: 13%;
}
