

.transactions-header{
    background: white;
}

.transactions-name{
    font-size: 17px;
    color : #adadad;
}

.transaction-list {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
    height: 233px;
    margin-top: -18px;
}

.transaction-list-item {
    box-sizing: border-box;
    background: #f6f6f6;
    min-height: 15px;
    margin-top: 2%;
    margin-bottom: 2%;
    cursor : pointer;
}
.transaction-list-item:hover {
    opacity: 0.5;
}

.transaction-list-item-action, .transaction-list-item-value {
    background: inherit;
    font-size: 13px;
    font-weight: bold;
}

.transaction-list-item-date {
    font-size: .75rem;
}

.transaction-date {
    color: darkblue;
    font-size: 13px;
}

.transaction-list-item-status-confirmed {
    font-size: 13px;
    color: green;
    font-weight: bold;
}
.transaction-list-item-status-not-confirmed {
    font-size: 13px;
    color: darkblue;
    font-weight: bold;
}

.container-no-transactions{
    position: relative;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.text-no-transactions{
    font-size: 14px;
}

hr {
    margin-top: 0rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.btn-reload {
    background: white;
    color: darkblue;
    padding: 0px;
}