.container-transactions{

}

.transactions-header{
    background: white;
}

.transactions-name{
    font-size: 17px;
    color : #adadad;
    margin-left: 5px;
}

.transaction-list {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: 8px;
    overflow-y: auto;
    height: 300px;
}


.transaction-list-item {
    box-sizing: border-box;
    min-height: 70px;
}

.transaction-list-item-action {
    text-transform: capitalize;
    
}
.transaction-list-item-details {
    text-transform: capitalize;
    
}
.transaction-list-item-value {
    text-transform: capitalize;
    
}
.transaction-list-item-date {
    font-size: .75rem;

}


.transaction-status-confirmed {
    background-color: #eafad7;
    color: #609a1c;
}

.transaction-status-not-confirmed {
    background-color: #eafad7;
    color: #ffee00;
}

.container-no-transactions{
    margin-top: 17%;
}

.text-no-transactions{
    font-size: 14px;
}

hr {
    margin-top: 0rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}