
.container-name-init{
    margin: 0;
    width: 300px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%,15%);
}



.container-seed-text {
    font-size: 30px;
    margin-top: 5%;
    color: darkblue;
}

.container-seed-init{
    margin: 0;
    /*background : #f6f6f6;*/
    width: 307px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0%);
}

.container-randomise{
    margin-top: 4%;
    font-size: 14px;
    color: gray;
}

.container-logo{
    text-align: center;
    margin-top: 12%;
    background: white;
}


.btn-name {
    margin-bottom: 10%;
    margin-top: 20%;
    background: darkblue;
    color: white;
    width: 100%;
    height: 45px;
}


.btn-generate-seed , .btn-create-wallet{
    margin-top: 10%;
    margin-bottom: 10%;
    background: darkblue;
    color: white;
    width: 100%;
    height: 45px;
}

.label-seed{
    margin-top: 5%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    font-size: 12px;
    max-width: 38ch;
}

.container-menu-init {
    bottom: 0px;
    position: absolute;
    width: 100%;
}

.padding-0{
    padding-right:0;
    padding-left:0;
}

.btn-menu-init-option {
    background: darkblue;
    color: white;
    width: 100%;
    border-radius: 0px;
    font-weight: bold;
}

.btn-menu-init-back {
    background: lightskyblue;
    color: white;
    width: 100%;
    border-radius: 0px;
    font-weight: bold;
}

.container-letter{
    height: 33px;
}
.container-letter:hover{
    color: darkblue;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.remained-letters{
    color: darkblue;
    font-weight: bold;
}

.container-export-text {
    margin-top: 5%;
    font-size: 30px;
    color: darkblue;
}

.container-export-seed{
    margin: 0;
    /*background : #f6f6f6;*/
    width: 300px;
    border-radius: 10px;
    position: absolute;
    top: 54%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 100%);
}

.container-export-seed-button{
    margin: 0;
    /*background : #f6f6f6;*/
    width: 300px;
    border-radius: 10px;
    position: absolute;
    top: 55%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 100%);
}

.container-export-suggestion {
    font-size: 12px;
    margin-top: 8%;
}

.btn-copy-seed {
    background: white;
    color: darkblue;
}

.container-seed-to-export {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    font-weight: bold;
}

.container-copy-to-clipboard {
    font-size: 13px;
    color: darkblue;
}

.input-seed-to-export {
    overflow: hidden;
    width: 100%;
    border: 0;
    font-weight: bold;
    text-overflow: ellipsis;
}

.container-copy-to-clipboard {
    font-size: 13px;
    color: darkblue;
}