.container-add-account{
    margin-top:40%;
}



.btn-add{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid lightskyblue;
    background: darkblue;
    margin-top:14%;
}
.icon{
    color: white;
}