.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    display: block;
    background: rgba(0, 0, 0, 0.6);
}

.container-info{
    background: #fff;
    width: 93%;
    height: 90%;
    margin-left: 3.5%;
    margin-top: 5%;
    transition: all 0.4s ease 0s;
    border-radius: 10px;
}

.container-promote-transaction {
    margin-top: 15%;
}

.detail-hash{
    font-size: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}
.detail-value{
    font-weight: bold;
    font-size: 12px;
    text-align: right;
    color: darkblue;
}

.detail-bundle-value{
    text-overflow: ellipsis;
    overflow: hidden;
}

.container-list-details {
    margin-top: 12%;
}

.container-details-title {
    font-size: 30px;
    margin-bottom: 6%;
    color: darkblue;
}

.details-list{
    height: 258px;
    overflow: overlay;
}

.btn-promote-transaction {
    width: 100%;
    color: white;
    background: darkblue;
    font-weight: bold;
}

.btn-close-details {
    margin-top: 5px;
}

