.app-wrapper.web{
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgb(248, 249, 250);;
}

.app {
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: 'Ubuntu', sans-serif;
}

.app.web{
    width: 700px;
    height: 600px;
    margin: 0;
    background : #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.app.chrome{
    width: 380px;
    height: 600px;
}

/*CONTAINERS*/
.container-center{
    position: absolute;
    top: 35%;
    left: 50%;
    margin-right: -50%;
    width: 100%;
    transform: translate(-50%, 0);
}

.container-alert{
    position: absolute;
    top: 25%;
    left: 50%;
    margin-right: -50%;
    width: 330px;
    transform: translate(-50%, 0);
}

.container-logo-login{
    text-align: center;
    margin-top: 7%;
    background: white;
    position: relative;
}

.container-letter{
    height: 33px;
}
.container-letter:hover{
    color: #00008b;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.container-center-absolute{
    margin: 0;
    background : #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.container-menu-init {
    bottom: 0px;
    position: absolute;
    width: 100%;
}

.container-ellipse-menu {
    width: 180px;
    right: 0;
    background: rgba(0,0,0,.8);
    position: absolute;
    height: 180px;
    margin-top: -13px;
    border-radius: 5px;
    margin-right: 2px;
    z-index: 10000;
}


.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    display: block;
    background: rgba(0,0,0,.6);
}

/*INPUT*/
.inp {
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 100%;
}
.inp .label {
    position: absolute;
    top: 16px;
    left: 0;
    font-size: 16px;
    color: #9098a9;
    font-weight: 500;
    transform-origin: 0 0;
    transition: all 0.2s ease;
}
.inp .border {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: darkblue;
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: all 0.15s ease;
}
.inp input {
    -webkit-appearance: none;
    width: 100%;
    border: 0;
    font-family: inherit;
    padding: 12px 0;
    height: 48px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid #c8ccd4;
    background: none;
    border-radius: 0;
    color: #223254;
    transition: all 0.15s ease;
}
.inp input:hover {
    background: rgba(34,50,84,0.03);
}
.inp input:not(:placeholder-shown) + span {
    color: #5a667f;
    transform: translateY(-26px) scale(0.75);
}
.inp input:focus {
    background: none;
    outline: none;
    border-bottom: 2px solid darkblue;
}
.inp input:focus + span {
    color: darkblue;
    transform: translateY(-26px) scale(0.75);
}
.inp input:focus + span + .border {
    transform: scaleX(1);
}

/*edit input*/
input#inp-edit {
    height: 30px !important;
}


/*BUTTONS*/

.btn-big{
    height: 50px;;
}

.btn-small{
    height: 40px;
}

.btn-blue{
    background: #00008b;
    color: #fff;
    width: 100%;
    cursor: pointer;
}
.btn-light-blue{
    background: lightskyblue;
    color: #fff;
    width: 100%;
    cursor: pointer;
}

.btn-white{
    width: 100%;
    background: white;
    color: darkblue;
    text-decoration: underline;
    border: none;
    outline: none;
    cursor: pointer;
}

.btn-border-blue{
    width: 100%;
    background: white;
    color: darkblue;
    border: 2px solid darkblue;
    outline: none;
    cursor: pointer;
}
.btn-border-blue:disabled{
    cursor: default;
}
.btn-border-blue:hover{
    /*background: darkblue;
    color: white;*/
}

.btn-icon {
    background-color: darkblue; 
    border: none; 
    color: white; 
    padding: 0px 0px;
    font-size: 30px; 
    cursor: pointer; 
}

.btn-icon-inverted {
    background-color: white; 
    border: none; 
    color: darkblue; 
    padding: 0px 0px;
    cursor: pointer; 
}

/* MARGINS */
.mt-05{
    margin-top: 5px;
}
.mt-1{
    margin-top:10px !important;
}
.mt-2{
    margin-top:20px !important;
}
.mt-3{
    margin-top:30px !important;
}
.mt-4{
    margin-top:40px !important;
}
.mt-5{
    margin-top:50px !important;
}
.mt-6{
    margin-top: 60px !important;
}
.mt-7{
    margin-top: 70px !important;
}
.mt-8{
    margin-top: 80px !important;
}
.mt-9{
    margin-top: 90px  !important;
}
.mt-10{
    margin-top: 100px  !important;
}
.mt-11{
    margin-top: 110px  !important;
}
.mt-13{
    margin-top: 130px  !important;
}
.mt-14{
    margin-top: 140px  !important;
}
.mt-15{
    margin-top: 150px  !important;
}
.mt-16{
    margin-top: 160px  !important;
}
.mt-18{
    margin-top: 180px  !important;
}
.mt-20{
    margin-top: 200px  !important;
}
.mt-22{
    margin-top: 220px  !important;
}

.mb-1{
    margin-bottom:10px !important;
}
.mb-2{
    margin-bottom:20px !important;
}
.mb-3{
    margin-bottom:30px !important;
}
.mb-4{
    margin-bottom:40px !important;
}
.mb-5{
    margin-bottom:50px !important;
}
.mb-6{
    margin-bottom:60px !important;
}

.ml-1{
    margin-left: 10px !important;
}

.mr-05{
    margin-right: 5px;
}
.mr-1{
    margin-left: 10px !important;
}

.pl-5{
    padding-left: 5px;
}

.pr-5{
    padding-right: 5px;
}

.border-radius-5{
    border-radius: 5px;
}

/* DECORATION */
.text-blue{
    color:darkblue;
}
.text-white{
    color: white;
}
.text-black{
    color: black;
}
.text-gray{
    color: #9098a9;
}
.text-red{
    color: red;
}

.text-underline{
    text-decoration: underline;
}

.text-xxxs{
    font-size: 10px;
}
.text-xxs{
    font-size: 12px;
}
.text-xs{
    font-size: 16px;
}
.text-sm{
    font-size: 18px;
}
.text-md{
    font-size: 25px
}
.text-lg{
    font-size: 35px;
}
.text-xl{
    font-size: 45px;
}

.text-bold{
    font-weight: bold;
}


/*BACKGROUNG*/
.bg-darkblue{
    background-color: darkblue;
}

.bg-transparent{
    background-color: transparent;
}

.bg-grey{
    background-color: gray;
}

/*LOADER*/
.lds-ring {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 80px;
    height: 80px;
    margin: 6px;
    border: 6px solid darkblue;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: darkblue transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

/*UTILS*/
.break-text {
    word-wrap: break-word;
}

hr {
    border: 0 !important;
    border-top: 1px solid rgba(0, 0, 0, 0.1) !important;
    margin: 0 0 0 0 !important;
}

.text-no-overflow{
    overflow: hidden;
    text-overflow: ellipsis;
}
.cursor-pointer{
    cursor: pointer;
}
.cursor-text{
    cursor: text;
}

.display-flex{
    display: flex
}
.display-none{
    display: none
}
.no-border{
    border-radius: 0px;
}


/*HEADERS*/
header{
    background: #efefefba;
}
.container-header-logo{
    margin-left: 2%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.container-selection{
    border: 2px solid darkblue;
    border-radius: 12px;
    margin-top: 17px;
    margin-bottom: 10px;
}

.network-selection{
    background: white;
    width: 160px;
    display: flex;
    flex-direction: row;
}

.container-icon-check{
    position: absolute;
}

.container-hidden-network{
    background: rgba(0,0,0,.8);
    width: 98%;
    min-height: 355px;
    overflow-y: hidden;
    position: absolute;
    z-index: 1000;
    margin-top: -3%;
    border-radius: 7px;
}
.container-hidden-network-header{
    color: white;
    font-size: 28px;
    text-align: center;
    margin-top: 2%;
}
.container-hidden-network-body{
    color: white;
    padding-left: 5px;
}

.container-hidden-network-item{
    margin-top: 4%;
    font-size: 21px;
    display: flex;
}
.container-hidden-network-item:hover{
    background: #f6f6f63f;
    cursor: pointer;
}
.container-hidden-network-item-name-selected{
    color:white;
    margin-left: 13%;
}
.container-hidden-network-item-name-not-selected{
    color:gray;
    margin-left: 13%;
}


/*TRANSACTION*/
.transaction-list {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    height: 230px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
}

.transaction-list-item, .mam-data-box {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    box-sizing: border-box;
    background: white;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
}


/*ANIMATION*/
.shake {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }


/* HEADER SIDEBAR */

#sidebar-wrapper {
    overflow-x: hidden;
    margin-left: -250px;
    left: 250px;
    width: 250px;
    max-height: 550px;
    height: 550px;
    background: white;
    position: fixed;
    overflow-y: scroll;
    z-index: 1000;
    transition: all 0.4s ease 0s; 
    animation-name: appear;
    animation-duration: 0.3s;
    animation-timing-function: ease-in;
    margin-top: -10px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.sidebar-wrapper-disappear {
    transition: all 0.4s ease 0s !important; 
    animation-name: disappear !important;
    animation-duration: 0.3s !important;
    animation-timing-function: ease-out !important;
}

@keyframes appear {
    from {width: 0;}
    to {width: 250px;}
}

@keyframes disappear {
    from {width: 250px;}
    to {width: 0}
}
  

#wrapper.active {
    padding-left: 0;
}
  
#wrapper.active #sidebar-wrapper {
    left: 0;
}
  
#page-content-wrapper {
    width: 100%;
}
   
.sidebar-nav {
    width: 250px;
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
}
  
.sidebar-nav li {
    line-height: 30px;
    text-indent: 5px;
    width: 100%;
}
    
.sidebar-nav li a {
    display: block;
    text-decoration: none;
}
  
.sidebar-nav li a span:before {
    position: absolute;
    left: 0;
    color: #41484c;
    text-align: center;
    width: 20px;
    line-height: 18px;
}
  
.sidebar-nav li a:hover,
.sidebar-nav li.active {
    color: darkblue;
    background:#f6f6f6;
    text-decoration: none;
}
  
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}
  
.sidebar-nav > .sidebar-brand {
    /*line-height: 60px;*/
    font-size: 17px;
}
.sidebar-nav > .sidebar-brand-add-account a{
    /*line-height: 60px;*/
    color: black;
    font-size: 18px;
}
.sidebar-nav > .sidebar-brand-logout a{
    /*line-height: 60px;*/
    color: black;
    font-size: 18px;
}
  
.sidebar-nav > .sidebar-brand a {
    color: black;
    font-size: 18px;
}
  
.sidebar-nav > .sidebar-brand:hover {
    color: darkblue;
    background:#f6f6f6;
}

  
.sidebar-header{
    color: black;
    text-align: center;
    font-size: 25px;
    margin-bottom: 20%;
    margin-left: -4px;
}



/* R A D I O   B U T T O N */
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: darkblue;
}
[type="radio"]:checked + label:before{
    content: '';
    position: absolute;
    left: 0px;
    top: 0px; 
    width: 18px;
    height: 18px;
    border: 1px solid darkblue;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px; 
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 10px;
    height: 10px;
    background: darkblue;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.picklist{
    width: 100%;
    border-radius: 3px;
    background: white;
    border: 1px solid #c9c9c9;
    font-family: Arial;
    font-size: 14px;
    color: #5c5c5c;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}
.picklist-menu{
    z-index: 100000;
    background: white;
    border-radius: 3px;
    width: 100%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    max-height: 150px;
    overflow-x: hidden;
    overflow-y: auto;
    border: 1px solid #c9c9c9;
}

.picklist-item{
    color: #5c5c5c;
    padding-left: 10px;
    border: 0px solid;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: -1px;
}
.picklist-item:hover{
    background: #c9c9c9;
    cursor : pointer;
}

.overflow-auto-490h{
    overflow: auto;
    height: 490px;
    max-height: 490px;
}

.overflow-auto-600h{
    overflow: auto;
    height: 600px;
    max-height: 600px;
}

.line-height-1-5 {
    line-height: 1.5
}

/* TEXT AREA */
textarea {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 14px;
    line-height: 1.5;
    color: #475965;
    background-color: #fff;
    background-clip: padding-box;
    height: auto;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border: 2px solid #c8ccd4;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}